receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"
        cors:
          allowed_origins:
            - "http://localhost:8080"
            - "http://localhost:9002"
            - "http://localhost:5173"
            - "http://127.0.0.1:8080"
            - "http://127.0.0.1:9002"
          allowed_headers:
            - "content-type"
            - "x-grpc-web"
            - "traceparent"
            - "tracestate"
            - "baggage"
            - "*"
          # allowed_methods УДАЛЕНО, так как вызывает краш в версии 0.88.0
          max_age: 7200

  zipkin:
    endpoint: "0.0.0.0:9411"

  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector'
          scrape_interval: 10s
          static_configs:
            - targets: ['0.0.0.0:8888']
        - job_name: 'envoy-gateway'
          scrape_interval: 5s
          metrics_path: /stats/prometheus
          static_configs:
            - targets: ['host.docker.internal:9901']
              labels:
                service_name: 'gateway-proxy'
        - job_name: 'greeter-service'
          scrape_interval: 5s
          static_configs:
            - targets: ['host.docker.internal:8081']
              labels:
                service_name: 'greeter-service'
        - job_name: 'shell-service'
          scrape_interval: 5s
          static_configs:
            - targets: ['host.docker.internal:9002']
              labels:
                service_name: 'shell-service'

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

  resourcedetection:
    detectors: [env, system]
    timeout: 2s
    override: false

exporters:
  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true

  prometheusremotewrite/vm:
    endpoint: "http://victoriametrics:8428/api/v1/write"
    resource_to_telemetry_conversion:
      enabled: true

  debug:
    verbosity: normal

service:
  pipelines:
    traces:
      receivers: [otlp, zipkin]
      processors: [batch, resourcedetection]
      exporters: [otlp/tempo, debug]
    metrics:
      receivers: [otlp, prometheus]
      processors: [batch, resourcedetection]
      exporters: [prometheusremotewrite/vm]
